certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==5.1.1
django-os-geocoder==0.1.6
future==1.0.0
geocoder==1.38.1
idna==3.10
peewee==3.17.6
progressbar==2.5
ratelim==0.1.6
requests==2.32.3
six==1.16.0
South==1.0.2
urllib3==2.2.3

